/*Global*/
:root {
  --primary-color: #fda50f;
  --secondary-color: #303131;
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Utilities*/
.primary-color {
  color: var(--primary-color);
}
.primary-bg {
  background-color: var(--primary-color);
}
.second-color {
  color: var(--secondary-color);
}
.second-bg {
  background-color: var(--secondary-color);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
/*Small <576px */
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
/*Header*/
.header {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
.toggle-menu {
  display: none;
}
.toggle-menu img {
  width: 50px;
  height: 50px;
}
.nav__list {
  display: flex;
  gap: 20px;
}
.nav__list-item {
  border-radius: 2px;
  list-style-type: none;
  padding: 5px 10px;
  width: 120px;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 1.2em;
}
.nav__icon {
  width: 50px;
  height: 50px;
}
.nav__name {
  color: var(--secondary-color);
  z-index: -1;
  font-weight: 900;
}
.nav__list-item:hover .nav__name {
  color: var(--primary-color);
  animation: nav-link-animate 0.3s ease-in;
}
@keyframes nav-link-animate {
  from {
    opacity: 0;
    translate: -25px;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}
/*Small <576px */
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .toggle-menu {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__list--mobile {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
  }
  .nav__list--mobile.show {
    opacity: 1;
    height: auto;
  }
  .nav__list-item {
    width: 100%;
  }
  .nav__list-item:not(:last-child) {
    border-bottom: 1px solid var(--secondary-color);
  }
  .nav__link {
    justify-content: flex-start;
  }
}
/*Medium ≥768px*/
/*Page Content*/
.page-title {
  position: relative;
  font-size: 25dvw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/title-bg-2.webp),
    url(../img/title-bg-2-reduced.jpg);
  background-attachment: fixed;
  background-position: center center;
}
.page-title::after {
  content: "HOTELS";
  text-shadow: 0px 0px 50px var(--primary-color);
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.search-form {
  padding: 20px;
  background-color: #f0ebe4;
  border-radius: 3px;
  border: 0.5px solid var(--primary-color);
}
.field-set {
  padding: 10px 20px;
  margin-top: 25px;
}
.legend {
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px;
  width: 150px;
}
.search-form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.search-form-inputs-input__label {
  display: block;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px;
  position: relative;
  top: 32px;
  opacity: 0;
  transition: all 0.5s ease;
}
.search-form-inputs__input {
  min-width: 48%;
}
.search-form__inputs input[type="text"] {
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  position: relative;
  z-index: 2;
}
.search-form__inputs input[type="text"]::placeholder {
  color: var(--secondary-color);
  font-size: 1.2em;
  font-weight: 500;
}
.search-form__inputs input[type="text"]:focus {
  border-bottom: 2px solid var(--primary-color);
}
.search-form-inputs-input__label:has(
    + input[type="text"]:not(:placeholder-shown)
  ) {
  top: 0;
  opacity: 1;
}
.select-label {
  background-color: var(--secondary-color);
  padding: 10px;
  color: #fff;
  display: inline-block;
}
.select-label + select {
  padding: 10px;
  width: 100px;
}
.ui-menu-item-wrapper.ui-state-active {
  background-color: var(--primary-color);
}
.--nationality {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.--nationality__label {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 5px;
}
.search {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin-top: 15px;
}
/*Small <576px */
@media screen and (max-width: 576px) {
  .search-form-inputs-input__label {
    top: 0;
    opacity: 1;
  }
  .search-form-inputs__input {
    width: 100%;
  }
}
/*Footer*/
.footer {
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
}
.footer__column {
  min-width: 30%;
  padding: 10px 25px;
}
.footer__column h3 {
  margin-bottom: 25px;
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.footer__quick-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__quick-links a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer__quick-links a:hover {
  color: var(--primary-color);
}

/*Small <576px */
@media screen and (max-width: 576px) {
  .footer__column {
    max-width: 100%;
  }
}
